<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>home</title>
</head>
<header>
  <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <img src="Designs/logo.png" alt="dsa">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">PREVENTO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Conciertos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Teatro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Deportes</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link login" href="#">Ingresar</a>
            </li>
          <li class="nav-item login">
            <a class="nav-link" href="#">Registrarse</a>
          </li>
        </ul> 
        </div>              
      </div>            
    </nav>
     <!-- BUSCADOR -->
    <div id="buscar" class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
      <form role="search" ><button class="btn btn-outline-success" type="submit">Buscar</button>           
      </form>
  </div>                 
</header>
<body>


<img src="../Designs/banner-conciertos.jpg" alt="dsa">

<h3>Más vendidos:</h3>

<div class="tarjetas">
  <img src="" alt="">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quod temporibus quasi assumenda eius laboriosam voluptates quibusdam obcaecati, ad in necessitatibus! Cupiditate, perferendis veritatis. Ullam provident quibusdam harum dolore consequatur!</p>

</div>

<div class="tarjetas">
  <img src="" alt="">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quod temporibus quasi assumenda eius laboriosam voluptates quibusdam obcaecati, ad in necessitatibus! Cupiditate, perferendis veritatis. Ullam provident quibusdam harum dolore consequatur!</p>
  
</div>

<div class="tarjetas">
  <img src="" alt="">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quod temporibus quasi assumenda eius laboriosam voluptates quibusdam obcaecati, ad in necessitatibus! Cupiditate, perferendis veritatis. Ullam provident quibusdam harum dolore consequatur!</p>
  
</div>

</body>
<footer>
  <div class="container-fluid" id="footdiv">
      <div class="row">
          <div class="col-6"><p>Contacto<br>
            <p>Numero random</p></div>
          <div class="col-6"><p>Redes<br>
            <p>Iconitos de Redes</p></div>
      
          
      </div>
  </div>
<!--Copyright-->
  <div class="container-fluid" id="copycontainer">
      <p id="copyrightc">copyright © Prevento 2022</p>
  </div>
</footer>
</html>

