body {
    background: linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, rgb(24, 24, 24) 86%, rgb(41, 41, 41) 100%);
}

header {
    background-color: #f7c143;
    padding-bottom: 1%;
}

#footdiv {
    padding: 3%;
    background-color: #f7c143 ;
    text-align: center;
    color: black;
}

#copycontainer {
    background-color: #000000 ;
    color: #ffffff ;
    text-align: center;
    margin: auto;
}

.navbar {
    background-color: #f7c143;
}

h1 {
    color: #f7c143;
}

.login {
text-align: right;
}

#buscar {
    width: 50%;
    margin: auto;
}

.card {
    display:inline-block;
    margin: 2%;
    background: linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, rgb(24, 24, 24) 86%, rgb(41, 41, 41) 100%);
    color: white;
    border-color: #f7c143;
    
}

.tarj-container{
    width: 80%;
    margin: auto;
}

.card-btn , .btn-buscar{
    background-color:#f7c143;
    border-color: black;
    color: black;
}

.btn-buscar {
    background-color: #6e4d00;
    border-color: white;
    color: white;
}

.card-btn:hover , .btn-buscar:hover {
    background-color:#8f6400;
    border-color: #000000;
    box-shadow: none;
}

.card-btn:active , .btn-buscar:active {
    background-color:#6e4d00;
    box-shadow: none;
    border: none;
}

.card-btn:focus , .btn-buscar:focus   {
    background-color:#6e4d00;
    border: none;
    box-shadow: none !important;
}

.categoria-title {
    margin-top: 5%;
    margin-left: 2%;
}

h5.card-title , .categoria-title { 
    color:#f7c143;
}

.logo {
    width: 3%;
    margin-left:1%;
    margin-right: 1%;
}

.carousel-control-next , .carousel-control-prev {
    text-decoration: none !important;
    font-size: 150%;
}

.carousel {
    width: 98%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

