body {
    background-color: black;
}

header {
    background-color: #f7c143;
    padding-bottom: 1%;
}

#footdiv {
    padding-top: 1%;
    background-color: #f7c143 ;
    text-align: center;
    color: black;
}

#copycontainer {
    background-color: #000000 ;
    color: #ffffff ;
    text-align: center;
}

.navbar {
    background-color: #f7c143;
}

h1 {
    color: #f7c143;
}

.login {
text-align: right;
}

#buscar {
    width: 50%;
    margin: auto;
}

.card {
    display:inline-block;
    margin: 2%;
    background: linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 18%, 1) 86%, hsla(0, 0%, 33%, 1) 100%);
    color: white;
    border-color: white;
    
}

.tarj-container{
    width: 80%;
    margin: auto;
}

.tarj-align {
    margin-left: auto;
}

.card-btn {
    background-color: #332608;
    border-color: #f7c143;
    color: white;
}

.btn:hover {
    background-color: #614f27;
    border-color: #ffd675;
}

h5.card-title {
    color: #f7c143;
}