@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Open+Sans&display=swap');
body {
    background-color: #F1F1F1;
}
#tipografia-logo{
    font-family: 'Open Sans' sans-serif;
    margin-right: 20px;

}

header {
    background-color: #FFBC2B;
    padding-bottom: 1%;
}
.nav-link {
    color: #131328 !important; 
    /* font-family: 'Comfortaa', sans-serif; */
    font-weight: 300;
}

#footdiv {
    padding: 3%;
    background-color: #f7c143 ;
    text-align: center;
    color: black;
    font-weight: 500;
}

#copycontainer {
    background-color: #000000 ;
    color: #131328 ; 
    text-align: center;
    margin: auto;
}

.navbar {
    background-color: #FFBC2B;
    font-weight: 500;
    color: #131328 !important; 
}


#buscar {
    width: 50%;
    margin: auto;
}

.btn-buscar {
    background-color: #6e4d00;
    border-color: white;
    color: white;
}

.btn-buscar:hover {
    background-color:#8f6400;
    border-color: #000000;
    box-shadow: none; 
}

.btn-buscar:active {
    background-color: #503800;
    border-color: black !important;
    color: black !important;
    box-shadow: none !important;
    font-size: 98%;
}

.btn-buscar:focus {
    background-color:#6e4d00;
    border-color: #ffffff;
    box-shadow: none; 
    color: white;
}

.logo {
    width: 4%;
    margin-left:1%;
    margin-right: 1%;
}

.login {
    text-align: right;
    }