body {
    background: linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, rgb(24, 24, 24) 86%, rgb(41, 41, 41) 100%);
}

header {
    background-color: #f7c143;
    padding-bottom: 1%;
}

#footdiv {
    padding: 3%;
    background-color: #f7c143 ;
    text-align: center;
    color: black;
}

#copycontainer {
    background-color: #000000 ;
    color: #ffffff ;
    text-align: center;
    margin: auto;
}

.navbar {
    background-color: #f7c143;
}

#buscar {
    width: 50%;
    margin: auto;
}

.btn-buscar {
    background-color: #6e4d00;
    border-color: white;
    color: white;
}

.btn-buscar:hover {
    background-color:#8f6400;
    border-color: #000000;
    
    box-shadow: none; 
}

.btn-buscar:active {
    background-color:#6e4d00;
    box-shadow: none;
    border: none;
}
    
.btn-buscar:focus   {
    background-color:#6e4d00;
    border: none;
    box-shadow: none !important;
}

.logo {
    width: 3%;
    margin-left:1%;
    margin-right: 1%;
}

.login {
    text-align: right;
    }